html {
  color-scheme: dark;
}

body {
  margin: 0 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}

.navbar {
  display: flex;
  overflow: visible;
  border-bottom: 1px solid #495057;
  background-color: rgba(33, 37, 41);
}

.profile {
  width: 72.69px;
  text-align: center;
}

.forms {
  margin-left: auto;
}

.navbutton {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navicon {
  padding: 0 0;
}

.navbutton:hover {
  background-color: #111;
}

.navMenu {
  overflow: hidden;
  right: 0;
  position: fixed;
  margin-top: 46px;
  background-color: rgba(33, 37, 41);
  border: 1px solid #495057;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.MenuOpened {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.blockLinksList {
  padding: 8px 0;
}

.blockLinksList a {
  display: block;
}

.content {
  padding: 16px 16px;
}

.main {
  position: relative;
  overflow: hidden;
  padding: 3rem;
  margin: 1rem;
  background-color: rgba(43, 48, 53);
}

.main_text {
  width: 50%;
  text-align: center;
  padding: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.main_text > h3 {
  font-weight: 400;
  font-size: calc(1.3rem + .6vw);
  margin-top: 0;
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
}

textarea {
  padding: 10px;
  margin: 20px auto 20px;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 10px;
  min-height: 230px;
  width: 90%;
  resize: none;
}

.button {
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 0px 15px;
  text-align: center;
  border-style: none;
  height: 34px;
}

.button:hover {
  background-color: rgba(33, 37, 41);
}

.delete {
  background-color: red;
}

.delete:hover {
  background-color: rgba(151, 46, 37)
}

