html {
  color-scheme: dark;
}

body {
  margin: 0 0;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #495057;
  background-color: rgba(33, 37, 41);
}

.nav-link {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #111;
}

.nav-link:nth-child(1) {
  padding: 0 0;
}

.forms {
  float: right;
}

.content {
  padding: 16px 16px;
  margin-top: 30px;
}

.main {
  position: relative;
  overflow: hidden;
  padding: 3rem;
  margin: 1rem;
  background-color: rgba(43, 48, 53);
}

.main_text {
  width: 50%;
  text-align: center;
  padding: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.main_text > h3 {
  font-weight: 400;
  font-size: calc(1.3rem + .6vw);
  margin-top: 0;
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
}

textarea {
  padding: 10px;
  margin: 20px auto 20px;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 10px;
  min-height: 230px;
  width: 90%;
  resize: none;
}

.button {
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 0px 15px;
  text-align: center;
  border-style: none;
  height: 34px;
}

.button:hover {
  background-color: rgba(33, 37, 41);
}

.delete {
  background-color: red;
}

.delete:hover {
  background-color: rgba(151, 46, 37)
}

