<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/load.js') }}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar">
            <a class="navbutton navicon" href="/"><img width="54" height="43" src="{{ url_for('static', filename='images/crystal.png') }}"></a>
            <a class="navbutton" href="#">Products</a>
            <a class="navbutton" href="#">Features</a>
            <a class="navbutton" href="#">Support</a>
            {% if g.user %}
                <a id="account" class="profile forms navbutton" onload="opener()">{{ g.user[1] }}</a>
                <div id="menu" class="navMenu">
                    <ul class="blockLinksList">
                        <li><a class="navbutton" href="{{ url_for('auth.profile', username=g.user[1]) }}">Profile</a></li>
                        <li><a class="navbutton" href="{{ url_for('auth.settings', username=g.user[1]) }}">Settings</a></li>
                        <li><a class="confirm navbutton" href="{{ url_for('auth.logout') }}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
               <a class="forms navbutton" href="{{ url_for('auth.login') }}">Login</a>
               <a class="navbutton" href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
        </nav>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
